### MySQL Exercise

You have 45 minutes for this exercise. You will be randomly be assigned to class colleague and the two of get a separate virual room where you cam solve the exercise togehter. When you have finished, please return to the main virtual room.

**Task**
- Check if there is visible correlation between payment amount and postal code of the customer, i.e. make a scatter plot.  
- Calculate the total price for all orders in the database per product line.
How much you do in SQL directly and how much with dataframes is up to you. 

**Have fun and start here:**

- Study MySQL-PDF.pdf in a different browser tab for an overview of the database to be used. The pdf is in the 05-Databases folder on Ilias 
- Connect to the database classicmodels which is running on computer host.

In [1]:
# mysql is in package "conda install mysql-connector-python"
import mysql.connector
import pandas as pd 
my_connect = mysql.connector.connect(
      host="fl-5-232.zhdk.cloud.switch.ch",
      port=3306,
      user="user",
      passwd="fum+Apheb4",
      #database='training'
      database="classicmodels"
    )
####### end of connection ####

Now check that you can read the tables:

In [2]:
df_prodline = pd.read_sql("SELECT productLine FROM productlines",my_connect)
df_prodline

        productLine
0      Classic Cars
1       Motorcycles
2            Planes
3             Ships
4            Trains
5  Trucks and Buses
6      Vintage Cars

Now continue with your task!

In [ ]:
# Scatter plot showing payment amount versus postal code
# Your code comes here

In [ ]:
# One possibility getting total price for all orders per product line
# Your code comes here

What is potentially very bad about this solution?

### NB

The server with the database used in this notebook will be shut down tonight. However, installing a mysql data server on your own laptop is quite easy. Google is your friend. It takes maybe 1h for a beginner, 10min for an experienced.